html, body {
    margin: 0;
    top: 0;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    padding: 10px 20px 0px;
}

.header {
    min-height: 150px;
}

.content {
    
    min-height: 300px;
    padding: 20px;
}

.footer {
    min-height: 150px;
    padding: 10px;
}

table {
    -webkit-box-shadow: 12px 14px 6px 5px rgba(0,0,0,0.24); 
     box-shadow: 12px 14px 6px 5px rgba(0,0,0,0.24);
     border: solid 1px gray;
}
table thead th {
    background-color: black;
    color: white;
}

table tfoot td {
    background-color: lightgray;
}
table tbody tr:nth-child(even) td {
    background-color: #f1f1f1;
}
table tbody tr:hover td {
    background-color: #E9E9E9;
    cursor: pointer;
}

.row {
    margin: 5px;
}

label {
    width: 100px;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}
fieldset {
    margin: 10px 0;
    border-radius: 10px;
    border-color: lightgrey;
}
